<div class="clearfix"></div>
<div class="container_fullwidth fee-page">
  <%= render "shared/banner_page", title: t("shared.all_articles").upcase, breadscrumb: [{url: "/", title: 'Trang chủ'}, {url: "/#{I18n.locale}/articles", title: 'Bài viết'}] %>
  <div class="hot-products">
    <div class="container">
			<%= render partial: "article" %>
		</div>
	</div>
</div>
<div><%= will_paginate @articles, :previous_label => t("shared.previous"), :next_label => t('shared.next') %></div>
