.admin {
  .content {
    margin-top: 80px;
  }

  .navbar-top-links {
    display: flex;
    align-items: center;
    margin-right: 48px;
  }

  #side-menu {
    .fa {
      color: #337ab7;
    }
  }
}
